<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/js/zui.min.js"></script>
</head>

<body>
    <div class="container-fixed nav-justified">
        <ul class="nav nav-tabs">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="/url">登入 <span class="label label-badge label-success">或注册</span></a></li>
        </ul>
        <br>
        <div class="alert">注意消息框中的<a class="alert-link" href="/url">你已经注册了？</a>。</div>
            <form action="dataRegister" method="post">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputAccount1">用户名</label>
                <input type="text" class="form-control" name="username" id="exampleInputAccount1" placeholder="用户名">
            </div>

            <div class="form-group">
                <label for="exampleInputAccount1">电子邮箱</label>
                <input type="text" class="form-control" name="mail" id="exampleInputAccount1" placeholder="电子邮件">
            </div>

            <div class="form-group">
                <label for="exampleInputAccount1">手机号</label>
                <input type="text" class="form-control" name="phone" id="exampleInputAccount1" placeholder="手机号">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
            <form/>
            <br>
            <p id="data"></p>
</body>
<script>


</script>

</html>