<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.10.0/js/zui.min.js"></script>
</head>

<body>
    <div class="container-fixed nav-justified">
        <ul class="nav nav-tabs">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="/url">登入 <span class="label label-badge label-success">或注册</span></a></li>
        </ul>
        <br>
         <form action="/r" method="get">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputAccount1">用户名</label>
                <input type="text" class="form-control" name='username' id="exampleInputAccount1" placeholder="电子邮件/手机号/用户名"
                   >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name='password' id="exampleInputPassword1">
            </div>
            <div class="form-group">
            </div>
                       <button type="submit" class="btn btn-primary">提交</button>
           </form>

            <button type="button" class="btn btn-primary" onclick="clickRegister()" >跳转注册</button>

            <br>
            <p id="data"></p>

        <script>

function clickRegister() {
    window.location.href="/Register";
}

</script>

</html>